.hero {
  position: relative;
  background-image: url("../images/hero-mathis.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 90vh;
  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.65);
  }
  &-text {
    width: 80vw;
    z-index: 1;
    @include media-breakpoint-up(md) {
      width: 50vw;
    }
  }
}
