/* CSS Custom Properties Definitions */

@import "bootstrap.scss";

$fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman", Times,
  serif;
$font-body: $fontFamily-serif;
$font-heading: $fontFamily-sans;
$fontWeight-bold: 700;
$fontWeight-black: 900;
$fontSize-root: 16px;
$lineHeight-tight: 1.1;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;
/* 1.200 Minor Third Type Scale */
$fontSize-1: 1rem;
$fontSize-2: 1.2rem;
$fontSize-3: 1.44rem;
$fontSize-4: 1.728rem;
$fontSize-5: 2.074rem;
$fontSize-6: 2.488rem;

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: $lineHeight-normal;
  font-size: $fontSize-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-body;
  font-size: $fontSize-1;
}

hr {
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  line-height: $lineHeight-tight;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontWeight-bold;
}

h1 {
  font-weight: $fontWeight-black;
  font-size: $fontSize-6;
  color: --color-heading-black;
}

h2 {
  font-size: $fontSize-5;
}

h3 {
  font-size: $fontSize-4;
}

h4 {
  font-size: $fontSize-3;
}

h5 {
  font-size: $fontSize-2;
}

h6 {
  font-size: $fontSize-1;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: $lineHeight-relaxed;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
}

a:hover,
a:focus {
  text-decoration: none;
}
